<ion-header>
  <ion-toolbar>
    <ion-input name="todo-text" placeholder="Enter a To Do!!" type="text" required="true" maxlength="20" [(ngModel)]="todoInput">
    </ion-input>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="success" size="medium" (click)="addToDo(todoInput)">
        <ion-icon name="add-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <ion-list>
      <ion-list-header>TO DO LIST</ion-list-header>
      <ion-item lines="inset" *ngFor="let todo of todos;index as slNo"
        [ngClass]="{done: todo.isDone, pending:  !todo.isDone}">
        <ion-label>
          <h4>{{slNo+1}}. {{todo.description}}</h4>
        </ion-label>
        <ion-button color="success" (click)="doneToDo(todo.id)" slot="end" *ngIf="!todo.isDone">
          <ion-icon name="checkmark-done-sharp"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteToDo(todo.id)" slot="end">
          <ion-icon name="trash-sharp"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

