#container {
  text-align: center;
  left: 0;
  right: 0;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
ion-content {
  --ion-background-color: rgba(247, 245, 166);
}
ion-item {
  color: black;
  align-items: center;
}
ion-button {
  align-self: flex-end;
}
ion-header {
  --ion-background-color: rgb(252, 101, 19);
  font-size: 20px;
}
ion-input {
  color: white;
}
.done {
  --ion-background-color: rgb(162, 250, 140) !important;
}
.pending {
  --ion-background-color: rgb(247, 137, 110) !important;
}